{% include 'header.html' %}
<h2 class='text-center mt-2 mb-4''>About Jobs Portal</h2>

<p class = 'body-text text-center lead'>Welcome to the Jobs Portal, a platform dedicated to connecting job seekers with potential employers. Our portal offers a wide array of job listings, career resources, and employer profiles, making it easy for you to find your dream job or discover exciting career opportunities. We are committed to providing a user-friendly and efficient platform that empowers job seekers and employers alike.</p>

{% include 'footer.html' %} 